<script>
  function copyToClipboard(element) {
  // Get the text content of the element.
  let copyText = element.textContent;

  // Create a temporary input element.
  let tempInput = document.createElement("input");
  tempInput.value = copyText;

  // Append the temporary input element to the DOM.
  document.body.appendChild(tempInput);

  // Select the text in the temporary input element.
  tempInput.select();

  // Copy the text to the clipboard.
  document.execCommand("copy");

  // Remove the temporary input element from the DOM.
  document.body.removeChild(tempInput);

  alert("Copied to clipboard!");
}


// Add the copy to clipboard function to the phone link.
document.querySelector(".phone a").addEventListener("click", function() {
  copyToClipboard(this);
  
});
</script>

<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><img src="../assets/email.png" width="30px" height="auto">
      <a href="mailto:{{ sidebar.email }}">{{ sidebar.email}}</a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone"><img src="../assets/nphone.png" width="25px" height="auto">
      <a href="tel:{{ sidebar.phone }}" onclick="copyToClipboard(this)">{{ sidebar.phone }}</a>
      
    {% endif %}


    {% if sidebar.linkedin %}
    <li class="linkedin"><img src="../assets/ln.png" width="25px" height="auto" style="border: 1px; border-radius: 7px;">
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">{{ sidebar.linkedin }}</a>
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li class="github"><img src="../assets/hit.png" width="25px" height="auto" style="border: 1px; border-radius: 50px;">
      <a href="http://github.com/{{ sidebar.github }}" target="_blank">{{ sidebar.github }}</a>
    </li>
    {% endif %}



    {% if sidebar.twitter %}
    <li class="twitter"><img src="../assets/finalx.png" width="25px" height="auto" style="border: 1px; border-radius: 7px;">
      <a href="https://x.com/{{ sidebar.twitter }}" target="_blank">{{ sidebar.twitter }}</a>
    </li>
    {% endif %}


    {% if sidebar.pdf %}
    <li class="pdf"><img src="../assets/pdf.png" width="25px" height="auto" style="border: 1px; border-radius: 7px;">
      <a href="{{ sidebar.pdf }}" target="_blank">Resume PDF</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
