{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">
    <ul>
      <li>KiCad</li>
      <li>Altium</li>
      <li>MATLAB Simulink, Simscape</li>
      <li>eSim (NgSpice), LTSpice</li>
      <li>Arduino, Micropython for RP2040</li>
      <li>Reflow Soldering</li>
    </ul>

  </div>

</section><!--//skills-section-->
{% endif %}
